body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

.ui.menu {
  border-radius: 0;
}

.ui.container {
  padding: 0 20px;
}

#mainContainer {
  padding-top: 80px;
}

.ui.menu {
  background-color: #1b1c1d;
}

.tagsContainer {
  /* display: flex;
  flex-wrap: wrap;
  gap: 10px; */
}

#tagsSection {
  margin-top: 30px;
}
#tagsSection .ui.segment {
  overflow-y: scroll;
  max-height: 75vh;
}

#tagsSection .ui.label {
  margin: 5px;
  cursor: pointer;
}

.quotesContainer {
  margin: 50px 0;
}

#tagsSection .ui.label:hover {
  background: #21ba45;
  color: white;
}

.quoteText {
  font-size: 20px;
}
